<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons class="teste">
      <ion-menu-button></ion-menu-button>
      <ion-title>Data</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>Selecione a data </ion-label>
  <ion-datetime displayFormat="DDD MMM D, YYYY " min="1989"  value="2021-08-09"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label>Selecine a hora</ion-label>
  <ion-datetime displayFormat="hh:mm A"></ion-datetime>
</ion-item>
</ion-content>
